body {
    width: 100vw;
    height: 100vh;
}

h5 {
    text-align: center;
}

.carousel-inner {
    height: 100vh;
}

.container {
    position: relative;
    top: 30%;
    left: 30%;
}

.carousel-item img {
    filter: brightness(60%)
}


input[type=text] {
    width: 25%;
}

.card-group {
    width: 100vw;
    display: flex;
    justify-content: space-around;
    margin-top: 20%;
}

.card {
    width: 300px;
}

.temp-info {
    display: flex;
    justify-content: space-around;
    align-items: baseline;
}

.card-img-top1 {
    width: 100px;
    height: 100px;
    margin: 0 auto;
}

.sun-info {
    display: flex;
    justify-content: space-around;
    margin-top: 1rem;
}

.card-img-top2,
.card-img-top3 {
    width: 100px;
    height: 100px;
}